<!DOCTYPE html>
<html>

<head>
    <title>Azure File</title>
</head>

<body>
    <div>
        <a href="{% url 'web:index' %}">Home</a>
        <a href="{% url 'web:connect' %}">Connect</a>
    </div>
    <div>
        <form action="{% url 'web:connect' %}" method="POST">
            {% csrf_token %}
            <label for="accountName">Account Name:</label><br>
            <input type="text" name="accountName" id="accountName"><br>
            <label for="accountName">Account Key:</label><br>
            <input type="text" name="accountKey" id="accountKey"><br>
            <input type="submit" value="Connect">
        </form>
    </div>
</body>

</html>