{% extends "web/base.html" %}

{% block menu %}
{{ block.super }}
<a href="{% url 'web:directory' account_name share_name directory_path %}?action=delete">Delete Directory</a>
<a href="{% url 'web:directory' account_name share_name directory_path %}?action=create_directory">Create Directory</a>
{% endblock menu %}

{% block content %}
<a href="{% url 'web:account' account_name %}">{{account_url}}/</a>
<a href="{% url 'web:share' account_name share_name %}">{{share_name}}/</a>
{% for path, name in parent_components.items %}
    <a href="{% url 'web:directory' account_name share_name path %}">{{name}}/</a>
{% endfor %}
{% for path, name in last_component.items %}
    <a href="{% url 'web:directory' account_name share_name path %}">{{name}}</a><br>
{% endfor %}
{% for name, path in directory_dict.items %}
    <a href="{% url 'web:directory' account_name share_name path %}">{{name}}/</a><br>
{% endfor %}
{% for name, path in file_dict.items %}
    <a href="{% url 'web:file' account_name share_name path %}">{{name}}</a><br>
{% endfor %}
{%endblock content %}