{% extends "web/base.html" %}

{% block content %}
<a href="{% url 'web:account' account_name %}">{{account_url}}/</a>
<a href="{% url 'web:share' account_name share_name %}">{{share_name}}/</a>
{% for path, name in parent_components.items %}
    <a href="{% url 'web:directory' account_name share_name path %}">{{name}}/</a>
{% endfor %}
{% for path, name in last_component.items %}
    <a href="{% url 'web:file' account_name share_name path %}">{{name}}</a><br>
{% endfor %}
<div>
    <label for="fileContent">File Content</label>
    <textarea id="fileContent" name="fileContent" rows="50" cols="100" readonly>{{file_content}}</textarea>
</div>
{% endblock content %}